---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: filebeat-{{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: filebeat-{{ .Release.Namespace }}
rules:
- apiGroups: [""] # "" indicates the core API group
  resources:
  - namespaces
  - pods
  verbs:
  - get
  - watch
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: filebeat-{{ .Release.Namespace }}
subjects:
- kind: ServiceAccount
  name: filebeat-{{ .Release.Namespace }}
  # FIXME: namespace should be read dynamically
  # namespace: logging2
roleRef:
  kind: ClusterRole
  name: filebeat-{{ .Release.Namespace }}
  apiGroup: rbac.authorization.k8s.io
