{{- $root := . -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: imlpolicy
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation
    "helm.sh/hook-weight": "-2"
spec:
  template:
    metadata:
      name: imlpolicy
    spec:
      restartPolicy: Never
      containers:
      - name: post-install-job
        image: "curlimages/curl:7.76.0"
        args:
        - /bin/sh
        - -c
        {{- range $username, $password := .Values.users }}
        {{ if eq $username "internal-api-user" }}    
        - "sleep 90 ;curl -X PUT -u '{{ $username }}:{{ $password }}' -k 'https://elasticsearch-es-http.{{ $root.Release.Namespace }}.svc.cluster.local:9200/_ilm/policy/ilm_custom_policy' -H 'Content-Type: application/json' -d'{\"policy\":{\"phases\":{\"hot\":{\"actions\":{\"rollover\":{\"max_size\":\"{{ $root.Values.indexLifecycle.rollover.indexMaxSize }}\",\"max_age\":\"{{ $root.Values.indexLifecycle.rollover.indexMaxAge }}\"}}},\"delete\":{\"min_age\":\"{{ $root.Values.indexLifecycle.delete.indexMinAge }}\",\"actions\":{\"delete\":{}}}}}}';exit 0"
        {{ end }}
        {{ end }}
