apiVersion: v1
kind: Secret
metadata:
  name: es-users
stringData:
  users: |-
  {{- range $username, $password := .Values.users }}
  {{ toYaml $username | trim | indent 2 }}:{{ toYaml $password | trim }}
  {{ end }} 
  users_roles: |-
  {{- range $role, $users := .Values.user_roles }}
  {{ toYaml $role | trim | indent 2 }}:{{ toYaml $users | trim }}
  {{ end }}