eck-operator:
  enabled: true
  installCRDs: false
  createClusterScopedResources: false
  managedNamespaces: {}

# FIXME: for each entry in this config map, a user should be managed in the elasticsearch cluster.
# the position is not relevant. could be kibana.users or elasticsearch.users too.
users:
  elastic: master-user-password
  user1: foo
  user2: bar

# FIXME: configurable rollover for indexes. 
# can be done per index (the filebeat index is the important one here)
# -> roll over the index every 5GB so that automated rebalancing of data nodes works better,
# which could allow us to better reduce / increase the storage size according to current needs.
# -> purge / delete logs to free up space after x days, 14 should be the default.
indexLifecycle:
  rollover: 5GB
  deleteAfterDays: 14 # example

# the frontend is automatically integrated into the upstream nginx
kibana:
  frontendPrefix: /logs
  replicas: 1
  resources:
    requests:
      memory: 500m
      cpu: 0.25
    limits:
      memory: 1Gi
      cpu: 0.5

elasticsearch:
  master:
    replicas: 3
  data:
    replicas: 3
    # maximum amount of storage per data pod
    storage: 100Gi
    # configure your own storage class
    storageClassName: default