kind: ConfigMap
metadata:
  name: {{ include "wsh-go-webservice.fullname" . }}
  labels:
    {{- include "wsh-go-webservice.labels" . | nindent 4 }}
apiVersion: v1
data:
  config.yaml: |-
    {{ toYaml .Values.config | indent 4 }}